/* Write your CSS code here */
.row {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.logo {
  height: 100px;
  width: 100px;
  margin: 20px;
}
.white {
  color: #ffffff;
  margin: 20px;
}
